.card{
    background-color: #fff;
    border-radius: 3px;
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: center;
}

.iconAndDate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    color: #717171;
}

.contentCard{
    width: 95%;
    color: #717171;
}

.title{
    margin: 0;
    font-size: 26px;
    color: #000;
}

.iconsOption{
    gap: 10px;
    display: flex;
    justify-content: center;
}

.iconFavorite{
    color: red;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.iconNoneFavorite{
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.iconNoneFavorite:hover{
    color: red;
}

.tooltip{
    position: absolute;
    margin-top: 40px;
    margin-right: -40px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.iconMoreOptions{
    cursor: pointer;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconsSelects{
    gap: 10px;
    padding-right: 10px;
    margin: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.edit:hover{
    color: #414141;
}


.delete:hover{
    color: red;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 5px;
}

.divButtons{
    width: 100%;
    gap: 1vw;
}

.buttonDelete{
    outline: none;
    border: none;
    width: 40%;
    height: 33px;
    border-radius: 4px;
    color: #fff;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background-color: #c0c0c0;
}

.yes:hover{
    background-color: red;
}

.no:hover{
    background-color:  #185dff;
}

.textField{
    width: 95%;
}

.modalEdit{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45vw;
    transform: translate(-50%, -50%);
    outline: none;
    display: flex;
    background-color: #fff;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 3vh;
}

.titleEdit{
    font-size: 20px;
    font-weight: bold;
}

.subtitleEdit{
    font-size: 15px;
    color: #717171;
    margin: 0;
}

.divButtonsEdit{
    width: 95%;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.editButton{
    width: 20%;
    color: #fff;
}