body{
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
    background-color: rgb(233, 233, 233);
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    padding-top: 25vh;
    width: 100%;
}